.aluguel{
    
    margin: 20px;
    border-radius: 20px;
    text-align: left;
    padding: 20px;
    box-shadow:1px -1px 2px #265ece;}
form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
form input, button{
   max-width: 50vh;
}

form  button{
    max-width: 52vh;
 }